<a href="https://colab.research.google.com/github/al34n1x/DataScience/blob/master/99.Machine_Learning/11_Creacion_Bank_DF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Creación de variable objetivo

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# Levanto el zip como un df de Pandas
import pandas as pd
df = pd.read_csv('/content/drive/My Drive/Colab Notebooks/UADE/Diplomatura Ciencia de Datos/Material de Clases/MESES_hasta_201404.zip')

In [ ]:
# Filtro los 3 últimos meses
df2=df[df.foto_mes > 201401]
df2.head()

    numero_de_cliente  foto_mes  ... Visa_tadelantosefectivo  Visa_mpagominimo
5                3333    201403  ...                       S                 .
6                3333    201403  ...                       S                 .
7                3333    201404  ...                       S                 .
8                3333    201404  ...                       S                 .
22            5609788    201402  ...                       N            3229.2

[5 rows x 169 columns]

In [ ]:
# Creo un lag (lo voy a usar para crear la variable objetivo)
df2['Mes_1'] = df2.groupby(['numero_de_cliente'])['foto_mes'].shift(-1)
df2['Mes_2'] = df2.groupby(['numero_de_cliente'])['foto_mes'].shift(-2)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
# Despues de crear el lag puedo descartar foto_mes > 201402
df2=df2[df2.foto_mes == 201402]

In [ ]:
#Verifico el formato de la tabla
df2[['numero_de_cliente', 'foto_mes', 'Mes_1', 'Mes_2']].head(20)

     numero_de_cliente  foto_mes     Mes_1     Mes_2
22             5609788    201402  201403.0  201404.0
38             5609981    201402  201403.0  201404.0
54             5610023    201402  201403.0  201404.0
70             5610089    201402  201403.0  201404.0
86             5610101    201402  201403.0  201404.0
102            5610189    201402  201403.0  201404.0
106            5610328    201402  201403.0  201404.0
122            5610521    201402  201403.0  201404.0
138            5610637    201402  201403.0  201404.0
154            5610791    201402  201403.0  201404.0
170            5611258    201402  201403.0  201404.0
186            5611490    201402  201403.0  201404.0
202            5611671    201402  201403.0  201404.0
218            5611787    201402  201403.0  201404.0
234            5612030    201402  201403.0  201404.0
250            5612088    201402  201403.0  201404.0
266            5612103    201402  201403.0  201404.0
285            5612470    201402  201403.0  201404.0
301            5612786    201402  201403.0  201404.0
317            5613018    201402  201403.0  201404.0

In [ ]:
df2['target'] = "Baja+1"

In [ ]:
df2.loc[(df2['Mes_1']==201403), 'target'] = "Baja+2"

In [ ]:
df2.loc[(df2['Mes_2']==201404), 'target'] = "Continua"

In [ ]:
df2['target_bin'] = np.where(df2['target']=='Baja+2', 1, 0)

In [ ]:
df2[df2['target']=='Baja+2']

         numero_de_cliente  foto_mes  ...  target  target_bin
1420               5620030    201402  ...  Baja+2           1
1816               5622530    201402  ...  Baja+2           1
8411               5670807    201402  ...  Baja+2           1
16601              5734492    201402  ...  Baja+2           1
37960              5877622    201402  ...  Baja+2           1
...                    ...       ...  ...     ...         ...
2692707           47799016    201402  ...  Baja+2           1
2692795           47830382    201402  ...  Baja+2           1
2693356           48048469    201402  ...  Baja+2           1
2694133           48337767    201402  ...  Baja+2           1
2694202           48359354    201402  ...  Baja+2           1

[773 rows x 173 columns]

In [ ]:
df2[df2['target_bin']==1]

         numero_de_cliente  foto_mes  ...  target  target_bin
1420               5620030    201402  ...  Baja+2           1
1816               5622530    201402  ...  Baja+2           1
8411               5670807    201402  ...  Baja+2           1
16601              5734492    201402  ...  Baja+2           1
37960              5877622    201402  ...  Baja+2           1
...                    ...       ...  ...     ...         ...
2692707           47799016    201402  ...  Baja+2           1
2692795           47830382    201402  ...  Baja+2           1
2693356           48048469    201402  ...  Baja+2           1
2694133           48337767    201402  ...  Baja+2           1
2694202           48359354    201402  ...  Baja+2           1

[773 rows x 173 columns]

In [ ]:
df2 = df2.drop(['Mes_1' , 'Mes_2'] , axis='columns')

In [ ]:
# Guardo el DF como csv
df2.to_csv('/content/drive/My Drive/Colab Notebooks/UADE/Diplomatura Ciencia de Datos/Material de Clases/MESES_201402_201404.csv')

In [ ]:
df2.describe(include='all')

        numero_de_cliente  foto_mes  ...    target     target_bin
count        1.819810e+05  181981.0  ...    181981  181981.000000
unique                NaN       NaN  ...         3            NaN
top                   NaN       NaN  ...  Continua            NaN
freq                  NaN       NaN  ...    180609            NaN
mean         2.114644e+07  201402.0  ...       NaN       0.004248
std          1.096325e+07       0.0  ...       NaN       0.065036
min          5.609788e+06  201402.0  ...       NaN       0.000000
25%          1.021765e+07  201402.0  ...       NaN       0.000000
50%          2.087868e+07  201402.0  ...       NaN       0.000000
75%          2.829573e+07  201402.0  ...       NaN       0.000000
max          4.851964e+07  201402.0  ...       NaN       1.000000

[11 rows x 171 columns]

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 181981 entries, 22 to 2694499
Columns: 171 entries, numero_de_cliente to target_bin
dtypes: float64(41), int64(39), object(91)
memory usage: 238.8+ MB

In [ ]:
df2.dtypes

numero_de_cliente                  int64
foto_mes                           int64
marketing_activo_ultimos90dias    object
cliente_vip                        int64
cliente_sucursal                   int64
                                   ...
Visa_tconsumos                    object
Visa_tadelantosefectivo           object
Visa_mpagominimo                  object
target                            object
target_bin                         int64
Length: 171, dtype: object